.confirm__wrap
  = render "layouts/header"
  .my--main
    .confirm__logout
      .logout-btn
        = link_to "ログアウトする", "#", method: :delete, class: "submit__btn--out"
  = render "layouts/menu_bar"
  = render "layouts/footer"