= render "layouts/searchheader.html"
.my--main
  .my--main__boxes
    ユーザー名：
    .my--nickname
      = link_to "だーさん", "#", class: "link"
= render "layouts/menu_bar"
= render "layouts/richfooter.html"