.signup-main{
  height: 100%;
  width: 100%;
  .signup-form{
    width: 700px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    &__identification{
      @include title;
    }
    &__address{
      @include form-width;
      .field{
        @include signup-field;
        .text-form{
          margin-top: 8px;
          @include basic-form;
        }
        #address_prefecture_id{
          margin-top: 8px;
          display: inline-block;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 345px;
        }
        .form-require{
          @include hissu;
        }
        .form-ninni{
          @include ninni;
        }
        .familyname{
          margin-right: 10px;
          margin-top: 8px;
          height: 50px;
          width: 165px;
          border-radius: 4px;
          padding: 10px 16px 8px;
        }
        .field_with_errors{
          display: inline;
        }
        .firstname{
          margin-top: 8px;
          height: 50px;
          width: 165px;
          border-radius: 4px;
          padding: 10px 16px 8px;
        }
      }
      .actions{
        .signup-btn{
          height: 50px;
          width: 345px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          margin-bottom: 40px;
          margin-top: 20px;
          margin-left: 16px;
          cursor: pointer;
        } 
      }
    }
  }         
}