// カテゴリー供用
.category--field {
  padding: 5px 50px 50px;
  margin: 0 auto;
  .category__main {
    width: 700px;
    margin: 0 auto;
    // カテゴリートップのみ
    .category__panel {
      padding: 16px 18px;
      .parent--panel {
        &:hover {
          background-color: #3ccace;
          color: #fff;
          cursor: pointer;
        }
        display: inline-block;
        background-color: #fff;
        border-radius: 4px;
        min-width: 80px;
        line-height: 40px;
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: center;
        padding: 0 30px;
        margin: 5px;
        .panel--font {
          color: #333;
          text-decoration: none;
        }
      }
    }
    // カテゴリー供用
    .parent__box {
      padding: 16px 18px;
      .parent--title {
        background-color: #3ccace;
        border-radius: 5px 5px 0 0;
        display: block;
        padding: 16px 10px 8px;
        text-align: left;
        margin-top: 25px;
        .parent--font {
          color: #fff;
          font-weight: bold;
          font-size: 22px;
          text-decoration: none;
        }
      }
      .children__boxes {
        background-color: #fff;
        padding: 16px;
        // カテゴリートップのみ
        .children--box {
          display: block;
          margin: 10px 0 5px;
          .children--title {
            color: #000;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
          }
        }
        .grandchild__box {
          padding: 5px 0 10px 20px;
          display: inline-block;
          .grandchild--list {
            margin: 8px 0;
            display: inline-block;
            width: 50%;
            float: left;
          }
          .grandchild--title {
            color: #ffb340;
            text-decoration: none;
            font-size: 14px;
            list-style: none;
          }
        }
      }
      // カテゴリー供用
      .return--top {
        background-color: #fff;
        text-decoration: none;
        display: block;
        padding: 16px;
        text-align: left;
        .up--arrow {
          &::before {
            content: "\f062";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px;
          }
          text-decoration: none;
          color: #000;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

// 子供カテゴリー：画像リスト
.category__image {
  @include category-product;
}