.creditcard-main{
   width:100%;
   height: 100%;
   background: rgb(245, 245, 245);
   padding-top: 60px;
   padding-bottom: 60px;
   &__form{
      width: 800px;
      height: 100%;
      margin: 0 auto;
      background-color: #fff;
      &__title{
         height: 80px;
         font-size: 30px;
         padding: 8px 24px;
         text-align: center;
         line-height: 64px;
         border-bottom: 2px solid #f5f5f5;
         font-weight: bold;
      }
      &__text{
         height:100%;
         padding: 40px 40px 32px 40px;
         background-color: #fff;
         &__input{
            width: 400px;
            height: 100%;
            margin: 0 auto;
            .field{
               margin-bottom: 32px;
               .form-label{
                  font-weight: 600;
               }
               .form-require{
                  @include hissu;
               }
               .text-form{
                  height: 48px;
                  width: 400px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  margin-top: 8px;
               }
               .cards-image{
                  display: flex;
                  margin-top: 8px;
                  margin-right: 8px;
               }
               .card-image{
                  margin-right: 8px;
               }
               &__deadline{
                  display: flex;
                  height: 50px;
                  select{
                     width: 130px;
                     background-color: #fff;
                     text-indent: 8px;
                     cursor: pointer;
                  }
                  .deadline-label{
                     line-height: 50px;
                     margin:0 15px;
                  }
               }
               .add-btn{
                  height: 50px;
                  width: 400px;
                  background: #ea352d;
                  border: 1px solid #ea352d;
                  color: #fff;
                  cursor: pointer;
               } 
            }
         }
      }
   } 
}



.credit__main {
   text-align: center;
   padding: 30px 0;
   font-size: 20px;
}

#charge-form {
   padding: 15px;
}

.root_path {
   text-decoration: none;
   margin: 30px 0;
   font-size: 15px;
   display: inline-block;
   color: #3CCACE;
}