.exhibition__main{
  width: calc( 100% - 280px);
  padding-right: 20px;
  &__title{
    font-weight: bold;
    @include menu-content;
  }
  &__item-list{
    padding-bottom: 40px;
    width:100%;
    box-sizing: border-box;
    background-color: #eee;
    &__box{
      display: inline-block;
      margin: 30px;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
}
