.footer {
  padding: 40px 0px 41px;
  margin-top: auto;
  text-align: center;
  &__notes {
    height: 54px;
    &--contents {
      display: flex;
      justify-content: center;
      list-style: none;
    }
    &--content {
      &:hover {
        border-bottom: solid 1px ;
        }
      color: #333;
      margin: 0 0px 16px 16px;
      font-size: 12px;
      text-decoration: none;
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    &--icon {
      height: 50px;
      width: 185px;
      display: block;
      background-image: image-url("material/logo/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__trademark {
    display: flex;
    justify-content: center;
    &--contents {
      font-size: 12px;
      line-height: 12px;
      position: absolute;
    }
    &--contents span{
      font-size: 24px; 
      float: left;
      position: relative;
      padding-right: 3px;
    }
  }
}
