.mainindex {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
section.topindex {
  background-image: url("material/pict/bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height:560px;
  padding:0 60px;
  display: flex;
  align-items: center;
}
.indexcontent {
  width:100%;
  padding-top:35px;
  &__title {
    font-size: 60px;
    color:white;
    text-shadow:0 0 5px rgba(0,0,0,0.4);
  }
  &__text {
    color:white;
    font-size:18px;
    text-shadow:0 0 5px rgba(0,0,0,0.4);
  }
  &__btn{
    display: flex;
    margin-top :20px;
    &__applebtn{
      margin-right :10px;
      cursor:pointer ;
    &:hover {
      opacity: 0.5;
    }
}
    &__googlebtn{
      cursor:pointer ;
    &:hover {
      opacity: 0.5;
    }
    }
    }
  }
section.introduction{
  padding :60px 20px;
  h2{
    text-align: center;
    font-size : 26px;
    line-height: 1.4;
    margin-bottom: 25px;
    padding-bottom:15px;
    position: relative;
    font-weight: bold;
  }
  h2::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom:0;
  }
}
ul.lists{
  display:flex;
  margin: 0 auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  li.list{
    margin: 16px 5% 0 0;
    .list{
    display: flex;
    &__img {
    margin-bottom:20px;
    position: relative;
    max-width: 100%;
    height: auto;
      &__pic{
        width: 100%;
      }
      span.num{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
        margin: 0 5px 0 0;
        padding: 10px 20px;
        background-color: #3CCACE;
        color: #fff;
      }
    }
    &__toptext{
      span{
        color:#3CCACE;
        text-align: center;
      }
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      line-height: 50px;
      margin: 0 0 0 2px;
    }
    }
    &__undertext{
      text-align: center;
      font-size: 18px;
      line-height: 1.5;
      margin: 16px 0 0;
    }
    
  }
}
section.middle{
  background-image: url("material/pict/bg-topMiddleDl-pict.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 400px;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle__inner{
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  text-align: left;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  h2{
    font-size: 27px;
    font-weight: bold;
    line-height: 1.4;
  }
  .text{
    font-size: 18px;
    margin: 20px 0 30px;
    line-height: 1.5;
  }
}
section.feature{
  padding:60px 100px;
}
  h2.featuretop{
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;

  }
  h2.featuretop::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .featurecontents{
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
section.featurecontent {
  display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  text-align: center;
  padding: 0 20px;
  .featurecontent__img{
    width: 70%;
    line-height: 120px;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .featurecontent__message {
    margin :38px 0 10px;
    font-size: 19px;
    font-weight:bold;
  }
  &__text{
    margin :0 0 40px;
    font-weight:200;
    font-size: 17px;
  }
}
section.news{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  display: block;
  h2.newstop{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .newsbox{
    width: 780px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    display: block;
    box-sizing: border-box;
  }
    .newshead{
      text-align: center;
    }
      .newspic{
        text-decoration: none;
        color: #3CCACE;
        font-weight: bold;
      }
  .newslists{
    width: 780px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
secsion.picbrand {
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  display: block;
  h2.pictop{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .picbox{
    width: 780px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    display: block;
    box-sizing: border-box;
  }
  .pichead{
    text-align: center;
  }
  .picarchive{
    text-decoration: none;
    color: #3CCACE;
    font-weight: bold;
  }
  .piclists{
    width: 780px;
    margin: 26px auto 0;
    display: flex;
    justify-content: space-around;
  }
}