.confirm__logout {
  padding: 32px 16px;
  margin: 32px 450px;
  background-color: #fff;
  .logout-btn {
    margin: 32px auto 0;
    height: 50px;
    border-radius: 4px;
    max-width: 343px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 50px;
    
    .submit__btn--out {
      &:hover {
        background-color: #c4140b;
      }
      @include submitinner;
      background-color: #EA352D;
      font-size: 30px;
      color: #fff;
      text-decoration: none;
      display: inline-block;
    }
  }
}