.main__field {
  padding-bottom: 50px;
  padding-left: 40px;
  .menu__bar {
    width: 280px;
    margin-right: 40px;
    &--title {
      position: relative;
      display: block;
      font-weight: bold;
      @include menu-content;
    }
    &--list {
      background-color: #eee;
      &__contents {
        display: block;
        position: relative;
        &:hover {
          color: #000;
          background-color: #aaa;
        }
        &:hover ul.pulldown{
          display: block;
        }
        &:after {
          @include chevron-right;
        }
        @include menu-content;
      }
    }
  }
}