main {
  background-color: #F5F5F5;
  padding-top: 40px;
}

.contents {
  width: 700px;
  margin: 0 auto;
}

.product {
  background-color: #FFA500;
  padding: 24px 40px 50px;

  &__name {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 16px;
  }

  &__images {
    padding: 0 30px;
  }

  &__price-info {
    margin: 20px 0;

    &__price {
      font-size: 36px;
      font-weight: 900;
      text-align: center;
    }

    &__include {
      display: flex;
      justify-content: center;

      &--tax {
        display: inline-block;
      }
      &--postage {
        display: inline-block;
      }
    }
  }
}

table,
tr,
th,
td {
  border: 1px solid black;
}