a {
  color: inherit;
  text-decoration: none;
}

// 全体
.pro--list__wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8f8;
}

// ヘッダー部分
// .pro--list__head {
//   height: 128px;
//   -webkit-box-align: center;
//   align-items: center;
//   display: flex;
//   -webkit-box-pack: center;
//   justify-content: center;
// }
// .pro--list__head--box {
//   height: 50px;
//   width: 185px;
//   display: block;
//   background-image: image-url("material/logo/logo.png");
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// 入力フォーム部分
.pro--list__main {
  height: 100vh;
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
}

// ヘッダー部分
// .pro--list__footer {
//   background-color: #fff;
//   padding: 40px 0px 41px;
//   margin-top: auto;
//   text-align: center;
// }
// .pro--list__footer__notes {
//   height: 54px;
// }
// .pro--list__footer__notes--contents {
//   display: flex;
//   justify-content: center;
//   list-style: none;
// }
// .pro--list__footer__notes--content {
//   display: block;
//   margin: 16px 0px 0px 16px;
//   font-size: 12px;
// }

// .pro--list__footer__box {
//   display: flex;
//   justify-content: center;
// }
// .pro--list__footer__box--icon {
//   height: 50px;
//   width: 185px;
//   display: block;
//   background-image: image-url("material/logo/logo.png");
//   background-size: contain;
//   background-repeat: no-repeat;
// }
// .pro--list__footer__trademark {
//   font-size: 12px;
// }