.header {
  margin :0 60px ;
}
  .inner {

    padding-top :15px;
  }
    .mainheader {
      display:flex;
      &__logo {
        height:50px;
        width :140px;
        padding-bottom: 10px;
        margin-right: 30px;
      }
      &__search {
        background-color:#3CCACE;
        height:35px;
        width:100%;
        margin:5px 0 5px 0;

        &__form{
          height:35px;
          width: 100%;
          display: flex;
            &__line{
              height:35px;
              width: calc(100% - 35px);
              padding-left:5px;
            }
            &__submit{
              &__color{
                background-color: #3CCACE;
              &__icon{
                height: 20px;
                width:20px;
                margin: 0 auto;
              }
              }
            }
          }
        }
    }
    .undernav {
      margin-bottom: 10px;
      display:flex;
      font-size :14px;
      justify-content: space-between;
      line-height: 32px;
      font-family: inherit;
      color:#333;
      .underleft {
        height:25px;
        width:200px;
        display:flex;
        .lists__item{
          width :125px;
            a#catbtn{
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
            }
          }
        }
        .lists__brand{
          width :100px;
          padding-left:15px;
        }
      .underright {
        height: 25px;
        width:170px;
        display:flex;
        &__loginbtn{
          width:70px;
        }
        &__signupbtn{
          width:100px;
        }
      }
    
    }