.my--main {
  padding: 40px;
  &__boxes {
    text-align: center;
    .my--nickname {
      font-size: 50px;
      font-weight: bold;
      padding: 40px auto;
      .link {
        text-decoration: none;
        color: #000;
        &:hover {
          border-bottom: 2px solid;
        }
      }  
    }
  }
}