.login-main{
  height: 100%;
  width: 100%;
  &__form{
    max-width: none;
    width: 450px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    .go-signup{
      .no-acount{
        padding-top: 40px;
        text-align: center;
      }
      .new-acount{
        width: 365px;
        height: 50px;
        text-decoration: none;
        line-height: 50px;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        margin-top: 8px;
        display: block;
        text-align: center;
        margin: 0px auto;
        margin-bottom: 40px;
      }
    }
    .go-login{
      padding-bottom: 30px;
      .field{
        text-align: center;
        .text-form{
          width: 365px;
          height: 50px;
          margin-bottom: 40px;
          border-radius: 4px;
          padding: 10px 16px 8px;
        }
      }
      .actions{
        text-align: center;
        .login-btn{ 
          height: 50px;
          width: 365px;
          background: #ea352d;
          color: #fff;
          margin-bottom: 40px;
          &:hover{
            cursor: pointer;
          }
        }  
      }
      .forget-password{
        margin: 40px 0 30px 48px;
        color: #0099e8;
        text-decoration: none;
        &:hover{
          border-bottom: solid 1px #0099e8;
          opacity: 0.7;
        }
      }
    }
  }
}



.signup-main{
  height: 100%;
  width: 100%;
  .signup-form{
    width: 700px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    &__information{
      @include title;
    }
    &__first{
      @include form-width;
      .field{
        @include signup-field;
        .text-form{
          @include basic-form;
        }
        .form-require{
          @include hissu;
        }
        .form-ninni{
          @include ninni;
        }
        &__name{
          display: flex;
          margin-top: 8px;
          .familyname{
            height: 50px;
            width: 165px;
            border-radius: 4px;
            padding: 10px 16px 8px;
          }
          .firstname{
            height: 50px;
            width: 165px;
            border-radius: 4px;
            margin-left: 20px;
            padding: 10px 16px 8px;
          }
        }
        .year{
          @include birthday-form;
        }
        .month{
          @include birthday-form;
        }
        .day{
          @include birthday-form;
        }
        .info-text{
          color: #888;
          margin-top: 8px;
        }
        .signup-btn{
          height: 50px;
          width: 345px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          margin-bottom: 40px;
          cursor: pointer;
        } 
        .recaptcha_term{
          margin-top: 30px;
          color: #888888;
          font-size: 12px;
          background-color:white;
          padding: 8px 16px;
          width: 345px;
          height: 55px;
          a{
            color: #0099e8;
            text-decoration: none;
          }
          a:hover{
            border-bottom: solid 1px #0099e8  ;
          }
        }
      }
      .identification{
        padding: 10px 16px 0px;
        font-size :16px;
        font-weight: bold;
      }
      .confirmation{
        padding: 0 16px 8px;
      }
    }
    
  }
}