.login-main{
  height: 100%;
  width: 100%;
  &__form{
    max-width: none;
    width: 450px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
  }
  .no-acount{
    padding-top: 40px;
    text-align: center;
  }
  .new-acount {
    width: 365px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    border: 1px solid #0099e8;
    background: #0099e8;
    color: #fff;
    margin-top: 8px;
    display: block;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 40px;
  }
  .field{
    text-align: center;
    input[type="email"] {
      width: 365px;
      height: 50px;
      margin-bottom: 40px;
      border-radius: 4px;
      padding: 10px 16px 8px;
    }
    input[type="password"] {
      width: 365px;
      height: 50px;
      margin-bottom: 40px;
      border-radius: 4px;
      padding: 10px 16px 8px;
  }
  }
  .actions{
    text-align: center;
    input[type="submit"] {
      height: 50px;
      width: 365px;
      background: #ea352d;
      color: #fff;
    }
    
  }
  .forget-password{
    display: block;
    margin-top: 40px;
    margin-left: 64px;
    color: #0099e8;
    text-decoration: none;
  }
}


.signup-main{
  height: 100%;
  width: 100%;
  .signup-form{
    width: 700px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    &__information{
      height:70px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      line-height:70px;
      background-color: white;
    }
    &__first{
      max-width: 400px;
      margin:0 auto;
      .field{
        margin-bottom: 15px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        font-size: 16px;
        .text-form{
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 345px;
        }
        .form-require{
          color: #fff;
          background-color: red;
          margin-left: 8px;
          margin-bottom: 8px;
          font-size: 12px;
          padding: 2px 4px;
          border-radius: 2px;
        }
        .form-ninni{
          color: #fff;
          background-color: #ccc;
          margin-left: 8px;
          margin-bottom: 8px;
          font-size: 12px;
          padding: 2px 4px;
          border-radius: 2px;
        }
        .lastname{
          height: 50px;
          width: 165px;
          border-radius: 4px;

        }
        .firstname{
          float: right;
          height: 50px;
          width: 165px;
          border-radius: 4px;
        }
        .info-text{
          color: #888;
          margin-top: 8px;
        }
        &__birthday{
          display: flex;
          width: 33%;
          .year{
            width: 75px;
            height: 50px;
            padding: 0 10px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-top: 8px;
          }
          .year-label{
            line-height: 50px;
          }
          .month{
            width: 75px;
            height: 50px;
            padding: 0 10px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-top: 8px;
          }
          .month-label{
            line-height: 50px;
          }
          .date{
            width: 75px;
            height: 50px;
            padding: 0 10px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-top: 8px;
          }
          .date-label{
            line-height: 50px;
          }
        }
      }
      .identification{
        padding: 10px 16px 0px;
        font-size :16px;
        font-weight: bold;
      }
      .confirmation{
        padding: 0 16px 8px;
      }
    }
    &__identification{
      height:70px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      background-color: white;
      line-height:70px;
    }
    &__second{
      max-width: 380px;
      margin:0 auto;
      .field{
        margin-bottom: 15px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        font-size: 16px;
        .text-form{
          margin-top: 8px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 345px;
        }
        #user_email{
          margin-top: 8px;
          display: inline-block;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 345px;
          
        }
        .form-require{
          color: #fff;
          background-color: red;
          margin-left: 8px;
          margin-bottom: 8px;
          font-size: 12px;
          padding: 2px 4px;
          border-radius: 2px;
        }
        .form-ninni{
          color: #fff;
          background-color: #ccc;
          margin-left: 8px;
          margin-bottom: 8px;
          font-size: 12px;
          padding: 2px 4px;
          border-radius: 2px;
        }
        .lastname{
          margin-top: 8px;
          height: 50px;
          width: 165px;
          border-radius: 4px;
        }
        .firstname{
          margin-top: 8px;
          height: 50px;
          width: 165px;
          border-radius: 4px;
        }
        .signup-btn{
          height: 50px;
          width: 345px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          margin-bottom: 40px;
          &:hover{
            cursor: pointer;
          }
        }
        .doui{
          text-align: center;
          a{
            text-decoration: none;
            color: #0099e8;
          }
          a:hover{
            text-decoration: underline;
          }  
        } 
        .personal-information{
          text-align: right;
          a{
            text-decoration: none;
            color: #0099e8;
          }
          a:hover{
            text-decoration: underline;
          }
        }
        .recaptcha_term{
          margin-top: 30px;
          color: #888888;
          font-size: 12px;
          background-color:white;
          padding: 8px 16px;
          width: 345px;
          height: 55px;
          a{
            color: #0099e8;
            text-decoration: none;
          }
          a:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

  
 
  


















