%body
.signup-header
.header_logo
= image_tag src="/assets/images/material/logo/logo.png"

.signup-container
%h2 会員情報
%p ニックネーム　必須
%input{:placeholder => "例)フリマ太郎", :type => "text"}/


%p 
%p 例）フリマ太郎
.user_adress
メールアドレス
%P 必須
%p @とドメインを含む　一意である
.user_password
パスワード
%P 必須
%P ７文字以上の半角英数字
.user_confirmation_password
確認用パスワード
%P 必須
%p もう一度入力してください。

%h2　本人確認
.user_name
お名前(全角)
%p 必須
%p　例）山田
%p　例）太郎
.user_furigana
お名前　ふりがな
%p 必須
%p 太郎
.user_birthday




  
