= link_to new_item_path, class: "new-item-link" do
  .camerabtn
    %span.cameratn__text
      出品する
    .purchaseBtn__icon
      = image_tag "material/icon/icon_camera.png", class:"featurecontent__img",size: "54x54"