.footer
  .footer__notes
    %ul
    .footer__notes--contents
      %li=link_to "プライバシーポリシー", "#", class: "footer__notes--content"
      %li=link_to "フリマ利用規約", "#", class: "footer__notes--content"
      %li=link_to "特定商取引に関する表記", "#", class: "footer__notes--content"
  .footer__box
    .footer__box--icon
      = link_to "", root_path, class: "footer__box--icon"
  .footer__trademark
    .footer__trademark--contents
      %span©️
      FURIMA, Inc.