.header
  .inner
    .mainheader
      .mainheader__logo
        = image_tag "material/logo/logo.png", class:"icon",size: "140x40"
      .mainheader__search
        .mainheader__search__form
          .mainheader__search__form__line
          .mainheader__search__form__submit
            .mainheader__search__form__submit__icon
    .underheader
      .underheader__left
        .underheader__left__category
        .underheader__left__brand
      .underheader__right
        .underheader__right__loginbtn
        .underheader__right__signupbtn